.Game {
  /*border: 1px dashed gray;*/
  border-top: none;
  border-bottom: 2px solid gray;
  width: 200px;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-image: url("../images/background-image2.png");
  z-index: -20;
}